@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Index" asp-controller="Home" method="post">
        <label for="cep">CEP</label>
        <input type="text" name="CEP" value="" />
        <button type="submit">Cadastrar</button>
        <button type="button">Consultar</button>
    </form>
</div>
